<div class="c-teaser u-bg-white u-shadow u-space-vert-1">

  {{#if debug}}
  <div class="c-teaser__original u-inline u-float-right u-color-gray">
    <a target="_blank" href="/isamp/{{pageId}}{{url}}">
    Test
    </a>
  </div>  
  {{/if}}
  
  <div class="c-teaser__original u-inline u-float-right u-color-gray">
    <a target="_blank" href="{{urlOriginal}}">
    Original ↗
    </a>
  </div>  
  
  
  <a class="c-teaser__amp u-pad-s  u-block" href="{{urlAMP}}">
    {{#if noAmp}} <span class="u-color-red">Kein AMP:</span> {{/if}}
    {{#if emoji}}
    <span>{{emoji}}</span>
    {{/if}}
    
    {{title}}
  </a>
  

</div>